In [1]:
#Question :- Create a DateTime Index that contains each business day of 2015 and Use it to Index a Series of Random Number

In [41]:
dayOfWeek={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'} #
import pandas as pd
import random

df_2015 = pd.DataFrame()

df_2015["YY_MM_DD"] = pd.date_range('2015-01-01', '2015-12-31', freq='D')


df_2015.head()

    YY_MM_DD
0 2015-01-01
1 2015-01-02
2 2015-01-03
3 2015-01-04
4 2015-01-05

In [42]:
df_2015 =df_2015.reindex(index=range(1,len(df_2015))) # Re-set index
df_2015.head()

    YY_MM_DD
1 2015-01-02
2 2015-01-03
3 2015-01-04
4 2015-01-05
5 2015-01-06

In [43]:
def fun_chec(x):
    if x == "Sunday" or x == "Saturday":
        return str("Week_off")
    return str("Business_Day")
df_2015["Year"] = df_2015["YY_MM_DD"].dt.year
df_2015["Month"] = df_2015["YY_MM_DD"].dt.month
df_2015["Date"] = df_2015["YY_MM_DD"].dt.day
df_2015['day'] = df_2015['YY_MM_DD'].dt.weekday_name
df_2015['day_2']  = df_2015['YY_MM_DD'].dt.dayofweek.map(dayOfWeek)
df_2015["Week_day_1"] = df_2015["day_2"].apply(lambda x : fun_chec(x))

Count_of_wednesday  = df_2015["day"].value_counts()
print (df_2015.day.value_counts())
Group_Day = df_2015.groupby("Week_day_1")
print (Group_Day.count())

Saturday     52
Sunday       52
Friday       52
Tuesday      52
Thursday     52
Monday       52
Wednesday    52
Name: day, dtype: int64
              YY_MM_DD  Year  Month  Date  day  day_2
Week_day_1
Business_Day       260   260    260   260  260    260
Week_off           104   104    104   104  104    104

In [44]:
# Question 3 :- Find the Sum of Values in S for every Wednesday
# I am assuming that question says that sum of date where day is Wednesday :- Question Not Clear or having proper information.
Wednesday_Data = df_2015.loc[df_2015['day'] == 'Wednesday']
Sum_of_all_Wednesday = Wednesday_Data.Date.sum()
print ("Summing all the Date where Wednesday Occured :-", Sum_of_all_Wednesday)
print ("Total Wednesday In the YEAR :-",Wednesday_Data.day.value_counts())

Summing all the Date where Wednesday Occured :- 806
Total Wednesday In the YEAR :- Wednesday    52
Name: day, dtype: int64

In [45]:
## Question 4 :-  Average For Each Calendar Month
# I am assuming Question says Total Days in Months as average 
Average = (dict(df_2015.Month.value_counts())) # Sorting The into Dict..
Average_days = [(key,value) for (key, value) in sorted(Average.items())] # Sorting Dic on Month Bases
print ("Average Days in Months Or Total Days in Months:-",Average_days)

Average Days in Months Or Total Days in Months:- [(1, 30), (2, 28), (3, 31), (4, 30), (5, 31), (6, 30), (7, 31), (8, 31), (9, 30), (10, 31), (11, 30), (12, 31)]

In [46]:
## Question 4 :-  Average For Each Calendar Month
# I am assuming that question also says for Wednesday in Every Month
Averge_Wednesday_in_month =  dict(Wednesday_Data.Month.value_counts())
Average_wednesday = [(key,value) for (key, value) in sorted(Averge_Wednesday_in_month.items())] # Sorting Dic on Month Bases
print ("Average Days in Wednesday in Every Month:-\n",Average_wednesday)

Average Days in Wednesday in Every Month:-
 [(1, 4), (2, 4), (3, 4), (4, 5), (5, 4), (6, 4), (7, 5), (8, 4), (9, 5), (10, 4), (11, 4), (12, 5)]

In [47]:
# Question 5 :-  For Each Group of 4 Consecutive Calendar Months in S, Find the date on which the highest value Occured.

Month_wise_max_date_of_wednesday =Wednesday_Data.groupby(['Month',"day"], sort=False)['Date'].max()
print (Month_wise_max_date_of_wednesday)
First_quater = Month_wise_max_date_of_wednesday[0:4].max()
print ("Max Date of Wednesday in First_quater:\t",First_quater)
Second_quater = Month_wise_max_date_of_wednesday[5:8].max()
print ("Max Date of Wednesday in Second_quater:\t",Second_quater)
Third_quater = Month_wise_max_date_of_wednesday[8:12].max()
print ("Max Date of Wednesday in Third_quater:\t",Third_quater)

Month  day
1      Wednesday    28
2      Wednesday    25
3      Wednesday    25
4      Wednesday    29
5      Wednesday    27
6      Wednesday    24
7      Wednesday    29
8      Wednesday    26
9      Wednesday    30
10     Wednesday    28
11     Wednesday    25
12     Wednesday    30
Name: Date, dtype: int64
Max Date of Wednesday in First_quater:	 29
Max Date of Wednesday in Second_quater:	 29
Max Date of Wednesday in Third_quater:	 30